# --- GLOBAL ---
.DS_Store
.vscode/
.idea/

# --- BACKEND (Python) ---
backend/venv/
backend/__pycache__/
*.py[cod]
*.so
.env
.pytest_cache/
backend/*.egg-info/

# --- FRONTEND (Node/React) ---
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*